<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let build of builds">
    <ion-card-header>
      <ion-card-subtitle>{{build.id}}</ion-card-subtitle>
      <ion-card-title>{{build.project.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{build.definition.name}}</p>
      <p>{{build.result}}</p>
      <p>{{build.status}}</p>
      <p>{{build.sourceBranch}}</p>
      <p>{{build.queueTime}}</p>
      <p>{{build.startTime}}</p>
      <p>{{build.reason}}</p>
      <p>{{build.requestedBy.displayName}}</p>
    </ion-card-content>
  </ion-card>  
</ion-content>
